<template>
    <div>
        <div class="card mt-5 mr-5 ml-5 mb-5">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Device Serial</th>
                        <th scope="col">Description</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr :key="index" v-for="(beacon, index) in this.beaconList">
                            <app-table-item :value="beacon.id"></app-table-item>
                            <app-table-item :value="beacon.device_serial"></app-table-item>
                            <!-- 
                                sadece description için update işlemi yapıalcağı için child komponente bir enableUpdateMode props ekledik ve değerini true verdik sadece true olanlar update moduda geçebilir.
                                onClickChild child tarafından emit edilerek hangi child'ın update moduna geçtiğini parent'a söyler (index)
                                :updatingId @onClickChild tarafından değiştirileceği için diğer componentler update modundan çıkar
                            -->
                            <app-table-item :value="beacon.description" :index=index :enableUpdateMode=true  @onClickChild="updateMode" :updatingId="updatingChildId"></app-table-item>
                            <app-table-item :value="beacon.latitude"></app-table-item>
                            <app-table-item :value="beacon.longitude"></app-table-item>            
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-block btn-success" @click="getNewBeacon">Get New Beacons</button>
            </div>
        </div>
    </div>
</template>

<script>
import  { mapGetters } from "vuex";
import BeaconTableItem from "./BeaconTableItem";

export default {
    name: "BeaconTable",
    components : {
          appTableItem : BeaconTableItem,   
    },
    data() {
        return {
            beaconList : [], //beaconları tutacağımız array
            updatingChildId : -1  //chil componentlerdan hangisi update moduna geçerse onun index'ni tutacağımız değişken
        }
    },
    methods: {
        getNewBeacon() {
            //yeni becon listesi getirmek için api'yi çağır, state değerini güncelle
            this.$store.dispatch("fethcBeacons");
        },
        updateBeaconDescription(index, desc) {
           // seçilen index ve yeni description değeri ile api üzerinden update işlemi yap
            const payload = {
                deviceId : this.beaconList[index].id,
                description : desc,
                index : index,
                beaconList: this.beaconList
            }
            this.$store.dispatch("updateBeaconsDesc", payload).then(response=>{
                this.flash(response.data.message, response.data.resultCode == 0 ? 'success' : 'error', {
                    timeout: 2000,
                });
            }).catch(e=>{
                this.flash(e, 'error', {
                        timeout: 2000,
                });
            });
        },
        updateMode(e) {
            //update moduna geçen child index'i tut
            this.updatingChildId = e;
        }
    },
    computed : {
    ...mapGetters( { getBeacons : "getBeacons" })
    },
    watch : {
      getBeacons : function(value) {
          this.beaconList = [];
          if(value) {
            value.forEach(obj => {
                this.beaconList.push(obj);
            });
        }
     }
  },
  mounted() {
    //router ile geldindiğinde store da yer alan datayı al ve markerları oluştur
    const stateData =  this.getBeacons;
    if(stateData){
        stateData.forEach(obj => {
            this.beaconList.push(obj);
        });
    }
  }
};
</script>

