<template>  
        <td @click="enableUpdateMode == true ? changeMod() : null">
        <div v-if="!this.isUpdating"> {{ value }} </div>
        <div v-if="this.isUpdating" class="text-center"> 
            <input type="text" :value="value" class="form-control mb-1" @keyup="onChange($event)"/>
            <input type="button" class="btn btn-danger" value="UPDATE" @click="update()" />
            <input type="button" class="btn btn-secondary" value="CANCEL" @click="closeUpdateMode()" />
        </div>
        </td>
</template>

<script>
    export default {
        name: "BeaconTableItem",
        props : ['value', 'index', 'enableUpdateMode', 'updatingId'],
        data() {
            return {
                isUpdating : false, // update modunda olup olmadığımızı tutan değişken
                description : this.value
            }
        },
        methods : {
            changeMod() {
                //this.isUpdating =  this.isUpdating ? true : !this.isUpdating;
                this.$emit('onClickChild', this.index);
            },
            closeUpdateMode() {
                this.isUpdating = false;
            },
            onChange(e) {
              this.description = e.target.value;
            },
            update() {
                this.$parent.updateBeaconDescription(this.index, this.description);
                this.closeUpdateMode();
            }
        },
        watch : {
            updatingId(e) {
                if(e == this.index) {
                    this.isUpdating = true;
                }else {
                    this.isUpdating = false;
                }   
            }
        }
    };
</script>



