<template>
  <div>
    <gmap-map :center="center" :zoom="7" style="width:100%;  height: 100%; left: 0; margin: 0; top: 50px; position: absolute">
      <gmap-marker 
          :key="index" 
          v-for="(m, index) in this.markers" 
          :position="m.position"
          @click="center=m.position"
      >
      </gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
import  { mapGetters } from "vuex"; 
export default {
  name: "GoogleMap",
  data() {
    return {
      // default olarak İstanbul'u haritaya set edelim 
      center: { lat: 41.015137, lng: 28.979530 }, 
      // api'den gelecek beacon dataları içerisindeki markerları bu array de tutacağız
      markers : []
    };
  },
  methods : {
    setMarkers(data) {
      this.markers = [];
            data.forEach(obj => {
                const marker = {
                    lng: parseFloat(obj.longitude),
                    lat: parseFloat(obj.latitude)
                };
                this.center = marker;
                this.markers.push({ position: marker });
            });
    }
  },
  computed : {
    ...mapGetters( { getBeacons : "getBeacons" }) //vuex'de yer alan getBeacons getter'ı izle (state değeri değişimini algılamak için)
  },
  watch : {
      // eğer state yer alan getter değişir ise yeni marker listi oluştur
      getBeacons : function(value) {
          if(value) {
            this.setMarkers(value);             
        }
      }
  },
  mounted() {
    //router ile geldindiğinde store da yer alan datayı al ve markerları oluştur
    const stateData =  this.getBeacons;
    if(stateData){
      this.setMarkers(stateData);
    }
  }
};
</script>
