<template>
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index:1">
  <router-link
    to="/"
    tag="a"
    class="navbar-brand">
      VUE TEST CASE
  </router-link>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <router-link
        active-class="active"
        to="/"
        tag="li"
        class="nav-item">
          <a class="nav-link">Google Map </a>
      </router-link>
      
      <router-link
        active-class="active"
        to="/table"
        tag="li"
        class="nav-item">
          <a class="nav-link">Beacons Table</a>
      </router-link>

    </ul>
  </div>
</nav>
</template>

<script>
    export default {
        name: "NavBar",
    };
</script>


