<template>
  <div id="app">
    <app-nav-bar />
    <router-view></router-view>
    <flash-message></flash-message>
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
export default {
  name: "App",
  components: {
    appNavBar : NavBar
  },
  created() {
    this.$store.dispatch("fethcBeacons"); //uygulama çalıştığında api'den dataları fetch ediyoruz
  }
}
</script>

